[submodule ".vim/bundle/vim-colors-solarized.git"]
	path = .vim/bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-pasta.git"]
	path = .vim/bundle/vim-pasta.git
	url = git://github.com/sickill/vim-pasta.git
