[submodule ".vim/bundle/vim-colors-solarized.git"]
	path = .vim/bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-pasta.git"]
	path = .vim/bundle/vim-pasta.git
	url = git://github.com/sickill/vim-pasta.git
[submodule ".vim/bundle/surround.git"]
	path = .vim/bundle/surround.git
	url = https://github.com/vim-scripts/surround.vim
[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-commentary.git"]
	path = .vim/bundle/vim-commentary.git
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-fugitive.git"]
	path = .vim/bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-indent-object.git"]
	path = .vim/bundle/vim-indent-object.git
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/supertab.git"]
	path = .vim/bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vim-snipmate.git"]
	path = .vim/bundle/vim-snipmate.git
	url = https://github.com/garbas/vim-snipmate
[submodule ".vim/bundle/tlib_vim.git"]
	path = .vim/bundle/tlib_vim.git
	url = https://github.com/tomtom/tlib_vim
[submodule ".vim/bundle/vim-addon-mw-utils.vim"]
	path = .vim/bundle/vim-addon-mw-utils.vim
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule ".vim/bundle/snipmate-snippets.git"]
	path = .vim/bundle/snipmate-snippets.git
	url = https://github.com/honza/snipmate-snippets
[submodule ".vim/bundle/vim-markdown.git"]
	path = .vim/bundle/vim-markdown.git
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/FuzzyFinder.git"]
	path = .vim/bundle/FuzzyFinder.git
	url = git://github.com/vim-scripts/FuzzyFinder.git
