[submodule ".vim/bundle/vim-colors-solarized.git"]
	path = .vim/bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-pasta.git"]
	path = .vim/bundle/vim-pasta.git
	url = git://github.com/sickill/vim-pasta.git
[submodule ".vim/bundle/surround.git"]
	path = .vim/bundle/surround.git
	url = https://github.com/vim-scripts/surround.vim
[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-commentary.git"]
	path = .vim/bundle/vim-commentary.git
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-fugitive.git"]
	path = .vim/bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-indent-object.git"]
	path = .vim/bundle/vim-indent-object.git
	url = https://github.com/michaeljsmith/vim-indent-object.git
